storage "dynamodb" {
    table  = "{{ vault_storage_dynamodb_table_name }}"
    region = "eu-west-1"
}

listener "tcp" {
    address       = "0.0.0.0:443"
    tls_cert_file = "/etc/acme/certs/vault.dylanw.net/fullchain.pem"
    tls_key_file  = "/etc/acme/keys/vault.dylanw.net.pem"
}
