storage "dynamodb" {
    table  = "{{ vault_storage_dynamodb_table_name }}"
    region = "eu-west-1"
}

listener "tcp" {
    address     = "127.0.0.1:8200"
    tls_disable = 1
}

seal "awskms" {
    region     = "eu-west-1"
    kms_key_id = "alias/vault-unseal-key"
}

api_addr          = "http://127.0.0.1:8200"
default_lease_ttl = "10h"
max_lease_ttl     = "10h"
ui                = true
